<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
<!--    {% load static %}-->
<!--    <link href="{% static 'css/output.css' %}" rel="stylesheet" />-->
<!--    <title>{% block title %}Olschurch{% endblock %}</title>-->
<!--  </head>-->
<!--  <body class="overflow-x-hidden bg-gray-100 antialiased">-->
<!--    <nav class="fixed top-0 z-50 w-full bg-white shadow-md">-->
<!--      <div class="container mx-auto px-4 py-4 sm:px-6 md:px-8">-->
<!--        <div class="flex items-center justify-between">-->
<!--          &lt;!&ndash; Logo (Left) &ndash;&gt;-->
<!--          <a href="/" class="flex items-center">-->
<!--            <img-->
<!--              src="{% static 'images/logo.png' %}"-->
<!--              alt="Olschurch Logo"-->
<!--              class="h-10 w-auto max-w-[100px]"-->
<!--            />-->
<!--            <span-->
<!--              class="font-allura max-w-[200px] truncate text-xl font-bold text-gray-800"-->
<!--              >Our Lady of Sorrows</span-->
<!--            >-->
<!--          </a>-->

<!--          &lt;!&ndash; Burger Menu Button (Visible on Small and Medium Screens) &ndash;&gt;-->
<!--          <button-->
<!--            id="burger-menu"-->
<!--            class="text-gray-800 focus:outline-none lg:hidden"-->
<!--          >-->
<!--            <svg-->
<!--              xmlns="http://www.w3.org/2000/svg"-->
<!--              fill="none"-->
<!--              viewBox="0 0 24 24"-->
<!--              stroke-width="1.5"-->
<!--              stroke="currentColor"-->
<!--              class="size-6"-->
<!--            >-->
<!--              <path-->
<!--                stroke-linecap="round"-->
<!--                stroke-linejoin="round"-->
<!--                d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"-->
<!--              />-->
<!--            </svg>-->
<!--          </button>-->

<!--          &lt;!&ndash; Menu Items (Desktop, Hidden on Small and Medium Screens) &ndash;&gt;-->
<!--          <div class="hidden items-center lg:flex">-->
<!--            <a href="/" class="font-display px-2 py-1 font-medium text-gray-800"-->
<!--              >Home</a-->
<!--            >-->
<!--            &lt;!&ndash; Our Parish with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/about"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Our Parish</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/mass-times"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Mass Times</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/our-staff"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Our Staff</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/contact-us"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Contact Us</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/photos"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Photos</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/history"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >History</a-->
<!--                >-->
<!--                <a-->
<!--                  href="https://www.rcan.org"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Archdiocese of Newark</a-->
<!--                >-->
<!--                <a-->
<!--                  href="https://www.vatican.va"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >The Vatican</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Parish Ministers with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/services"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Parish Ministers</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/knights-of-columbus"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Knights of Columbus</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/liturgical-ministries"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Liturgical Ministries</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/music-ministry"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Music Ministry</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/family-mass"-->
<!--                  class="seven columns font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Family Mass</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/remembrance-mass-committee"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Remembrance Mass Committee</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/healing-mass-committee"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Healing Mass Committee</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/baptism-prep-ministry"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Baptism Prep Ministry</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/adult-faith-formation"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Adult Faith Formation</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/rosary-society"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Rosary Society</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/social-concerns-ministries"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Social Concerns Ministries</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Youth Ministry with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/contact"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Youth Ministry</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/ols-youth-group"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >OLS Youth Group</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/youth-group-registration-2024-2025"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Youth Group Registration 2024-2025</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/youth-group-2024-2025-calendar"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Youth Group 2024-2025 Calendar</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Religious Education with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/services"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Religious Education</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/ccd"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >CCD</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/ccd-registration-2024-2025"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >2024-2025 Registration</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/become-a-catechist"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Become a Catechist</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/ccd-program-calendar-2024-2025"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >2024-2025 CCD Program Calendar</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/ccd-current-newsletter"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Current Newsletter</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/ccd-archived-newsletters"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >CCD Archived Newsletters</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/ccd-family-handbook-2024-2025"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >2024-2025 CCD Family Handbook</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/homeschooling-handbook"-->
<!--                  class="font-display block px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Homeschooling Handbook</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/policy-regarding-epi-pens"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Policy Regarding Epi-Pens</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Donate with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/contact"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Donate</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/parish-giving"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Parish Giving</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/bequests-planned-giving"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Bequests and Planned Giving</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Calendar (No Dropdown) &ndash;&gt;-->
<!--            <a-->
<!--              href="/contact"-->
<!--              class="font-display px-2 py-1 font-medium text-gray-800"-->
<!--              >Calendar</a-->
<!--            >-->
<!--            &lt;!&ndash; Sacraments with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/contact"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Sacraments</a-->
<!--              >-->
<!--              <div-->
<!--                class="max TMC absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/wedding-planning"-->
<!--                  class="font-display block rounded-t-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Wedding Planning</a-->
<!--                >-->
<!--                <a-->
<!--                  href="/funeral-planning"-->
<!--                  class="font-display block rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Funeral Planning</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Bulletin with Dropdown &ndash;&gt;-->
<!--            <div class="group relative flex items-center">-->
<!--              <a-->
<!--                href="/contact"-->
<!--                class="font-display inline-flex items-center px-2 py-1 font-medium text-gray-800"-->
<!--                >Bulletin</a-->
<!--              >-->
<!--              <div-->
<!--                class="absolute top-full left-0 z-50 hidden w-48 max-w-[90vw] overflow-visible !rounded-lg bg-white shadow-md group-hover:block"-->
<!--              >-->
<!--                <a-->
<!--                  href="/bulletin-archive"-->
<!--                  class="font-display block rounded-t-lg rounded-b-lg px-4 py-2 font-medium text-gray-800 hover:bg-gray-100"-->
<!--                  >Archive</a-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Report Abuse (No Dropdown) &ndash;&gt;-->
<!--            <a-->
<!--              href="https://rcan.org/protect-report"-->
<!--              class="font-display px-2 py-1 font-medium text-gray-800"-->
<!--              >Report Abuse</a-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Mobile Menu (Hidden by Default, Toggled on Small and Medium Screens) &ndash;&gt;-->
<!--      <div id="mobile-menu" class="hidden bg-white shadow-md lg:hidden">-->
<!--        <div-->
<!--          class="container mx-auto flex flex-col space-y-4 px-4 py-4 sm:px-6 md:px-8"-->
<!--        >-->
<!--          <a href="/" class="font-display font-medium text-gray-800">Home</a>-->
<!--          &lt;!&ndash; Our Parish with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Our Parish-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a href="/mass-times" class="font-display text-sm text-gray-600"-->
<!--                >Mass Times</a-->
<!--              >-->
<!--              <a href="/our-staff" class="font-display text-sm text-gray-600"-->
<!--                >Our Staff</a-->
<!--              >-->
<!--              <a href="/contact-us" class="font-display text-sm text-gray-600"-->
<!--                >Contact Us</a-->
<!--              >-->
<!--              <a href="/photos" class="font-display text-sm text-gray-600"-->
<!--                >Photos</a-->
<!--              >-->
<!--              <a href="/history" class="font-display text-sm text-gray-600"-->
<!--                >History</a-->
<!--              >-->
<!--              <a-->
<!--                href="https://www.rcan.org"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Archdiocese of Newark</a-->
<!--              >-->
<!--              <a-->
<!--                href="https://www.vatican.va"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >The Vatican</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Parish Ministers with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Parish Ministers-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a-->
<!--                href="/knights-of-columbus"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Knights of Columbus</a-->
<!--              >-->
<!--              <a-->
<!--                href="/liturgical-ministries"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Liturgical Ministries</a-->
<!--              >-->
<!--              <a-->
<!--                href="/music-ministry"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Music Ministry</a-->
<!--              >-->
<!--              <a href="/family-mass" class="font-display text-sm text-gray-600"-->
<!--                >Family Mass</a-->
<!--              >-->
<!--              <a-->
<!--                href="/remembrance-mass-committee"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Remembrance Mass Committee</a-->
<!--              >-->
<!--              <a-->
<!--                href="/healing-mass-committee"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Healing Mass Committee</a-->
<!--              >-->
<!--              <a-->
<!--                href="/baptism-prep-ministry"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Baptism Prep Ministry</a-->
<!--              >-->
<!--              <a-->
<!--                href="/adult-faith-formation"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Adult Faith Formation</a-->
<!--              >-->
<!--              <a-->
<!--                href="/rosary-society"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Rosary Society</a-->
<!--              >-->
<!--              <a-->
<!--                href="/social-concerns-ministries"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Social Concerns Ministries</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Youth Ministry with Nested Links &ndash;&gt;-->
<!--          inken-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Youth Ministry-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a-->
<!--                href="/ols-youth-group"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >OLS Youth Group</a-->
<!--              >-->
<!--              <a-->
<!--                href="/youth-group-registration-2024-2025"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Youth Group Registration 2024-2025</a-->
<!--              >-->
<!--              <a-->
<!--                href="/youth-group-2024-2025-calendar"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Youth Group 2024-2025 Calendar</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Religious Education with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Religious Education-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a href="/ccd" class="font-display text-sm text-gray-600">CCD</a>-->
<!--              <a-->
<!--                href="/ccd-registration-2024-2025"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >2024-2025 Registration</a-->
<!--              >-->
<!--              <a-->
<!--                href="/become-a-catechist"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Become a Catechist</a-->
<!--              >-->
<!--              <a-->
<!--                href="/ccd-program-calendar-2024-2025"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >2024-2025 CCD Program Calendar</a-->
<!--              >-->
<!--              <a-->
<!--                href="/ccd-current-newsletter"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Current Newsletter</a-->
<!--              >-->
<!--              <a-->
<!--                href="/ccd-archived-newsletters"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >CCD Archived Newsletters</a-->
<!--              >-->
<!--              <a-->
<!--                href="/ccd-family-handbook-2024-2025"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >2024-2025 CCD Family Handbook</a-->
<!--              >-->
<!--              <a-->
<!--                href="/homeschooling-handbook"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Homeschooling Handbook</a-->
<!--              >-->
<!--              <a-->
<!--                href="/policy-regarding-epi-pens"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Policy Regarding Epi-Pens</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Donate with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Donate-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a-->
<!--                href="/parish-giving"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Parish Giving</a-->
<!--              >-->
<!--              <a-->
<!--                href="/bequests-planned-giving"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Bequests and Planned Giving</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Calendar (No Nested Links) &ndash;&gt;-->
<!--          <a href="/contact" class="font-display font-medium text-gray-800"-->
<!--            >Calendar</a-->
<!--          >-->
<!--          &lt;!&ndash; Sacraments with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Sacraments-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a-->
<!--                href="/wedding-planning"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Wedding Planning</a-->
<!--              >-->
<!--              <a-->
<!--                href="/funeral-planning"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Funeral Planning</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Bulletin with Nested Links &ndash;&gt;-->
<!--          <div class="flex flex-col">-->
<!--            <button-->
<!--              class="font-display text-left font-medium text-gray-800"-->
<!--              onclick="this.nextElementSibling.classList.toggle('hidden')"-->
<!--            >-->
<!--              Bulletin-->
<!--            </button>-->
<!--            <div class="mt-2 ml-4 flex hidden flex-col space-y-2">-->
<!--              <a-->
<!--                href="/bulletin-archive"-->
<!--                class="font-display text-sm text-gray-600"-->
<!--                >Archive</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Report Abuse (No Nested Links) &ndash;&gt;-->
<!--          <a-->
<!--            href="https://rcan.org/protect-report"-->
<!--            class="font-display font-medium text-gray-800"-->
<!--            >Report Abuse</a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->

<!--    <main class="container mx-auto px-4 py-8 pt-30 sm:px-6 md:px-8">-->
<!--      {% block content %} {% endblock %}-->
<!--    </main>-->

<!--    &lt;!&ndash; Footer Section &ndash;&gt;-->
<!--    <footer class="mt-12 bg-white px-4 py-6 shadow-md sm:px-6 md:px-8">-->
<!--      <div-->
<!--        class="container mx-auto flex flex-col gap-8 md:flex-row md:justify-between"-->
<!--      >-->
<!--        &lt;!&ndash; Contact Information &ndash;&gt;-->
<!--        <div class="text-gray-600 md:w-1/2">-->
<!--          <h3 class="font-allura mb-2 text-lg font-semibold text-gray-800">-->
<!--            Contact Us-->
<!--          </h3>-->
<!--          <p class="mb-1 truncate text-gray-800">-->
<!--            217 Prospect Street, South Orange, NJ 07079-->
<!--          </p>-->
<!--          <p class="mb-1 text-gray-800">Phone: (973) 555-0123</p>-->
<!--          <p class="truncate text-gray-800">Email: info@ourladyofsorrows.org</p>-->
<!--        </div>-->
<!--        &lt;!&ndash; Quick Links &ndash;&gt;-->
<!--        <div class="text-gray-600 md:w-1/2 md:text-right">-->
<!--          <h3 class="font-allura mb-2 text-lg font-semibold text-gray-800">-->
<!--            Quick Links-->
<!--          </h3>-->
<!--          <ul class="space-y-1">-->
<!--            <li><a href="/" class="text-gray-800">Home</a></li>-->
<!--            <li><a href="/about" class="text-gray-800">Our Parish</a></li>-->
<!--            <li>-->
<!--              <a href="/services" class="text-gray-800">Parish Ministers</a>-->
<!--            </li>-->
<!--            <li><a href="/contact" class="text-gray-800">Youth Ministry</a></li>-->
<!--            <li>-->
<!--              <a href="/services" class="text-gray-800">Religious Education</a>-->
<!--            </li>-->
<!--            <li><a href="/contact" class="text-gray-800">Donate</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container mx-auto mt-6 text-center text-sm text-gray-800">-->
<!--        <p>© 2025 Our Lady of Sorrows Church. All rights reserved.</p>-->
<!--      </div>-->
<!--    </footer>-->

<!--    &lt;!&ndash; JavaScript for Infinite Scroll Reset &ndash;&gt;-->
<!--    <script-->
<!--      type="text/javascript"-->
<!--      src="{% static 'js/java_script.js' %}"-->
<!--    ></script>-->
<!--  </body>-->
<!--</html>-->
